@import url("reset.css");
@import url("common.css");
@import url('https://fonts.googleapis.com/css?family=Inter:500,600,700,800,900&display=swap');

body {
	font-family:'Inter';
	font-weight: 600;
	font-size: 16px;
	background-color: rgb(160, 159, 159);
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	
}


.header {
	background-color: aliceblue;
	
}

.header__container {
   
	max-width: 1470px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header__menu{
}

.menu{} 

.logo {
	display: inline-block;
	padding-left: 135px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 45px;
}



.menu__list {
	display: inline-block;

}

.menu__item {
	position: relative;
	display: inline-block;

}
.menu__item:hover .sub-menu{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.menu__item:not(:last-child){
	margin-right: 30px;
}

.menu__link{
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;
}
.menu__link:hover, .sub-menu__link:hover, .sub-sub-menu__link:hover{
	color: rgb(113, 142, 236);
}

.menu__link-all:hover {
	color: rgb(113, 142, 236);
	
}
.menu__link-all::after{
	content: "";
	display: inline-block;
	background: url('../img/after.svg') 10px no-repeat;
	width: 25px;
	height: 10px;
}

.menu__sub-menu {
	position: absolute;
	top:100%;
	left: 0;
}

.sub-menu {
	z-index: 1;
	font-weight: 500;
	background-color: #fff;
	padding: 15px;
	min-width: 180px;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s;
}

.sub-menu__item {}
.sub-menu__item:hover .sub-sub-menu{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 13px;
}
.sub-menu__link {}



.menu__sub-sub-menu {
	position: absolute;
	top:10%;
	left: 100%;
}



.sub-sub-menu {
	font-weight: 500;
	background-color: #fff;
	z-index: 1;
	padding: 15px;
	min-width: 180px;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s;
}

.sub-sub-menu__item{} 
.sub-sub-menu__item--text {
	padding-bottom: 30px;
}
.sub-sub-menu__item:not(:last-child){
	margin-bottom: 13px;
	font-weight: 600;

}

.sub-sub-menu__link {}


.header__icons {
	display: inline-block;
	position: relative;
	margin-left: 155px;
}
.header__icons img{
	padding-left: 20px;
}



.main {
	position: relative;
}

.main__container {
	max-width: 1470px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.main__static {
	background-color: #ac9292;
	min-height: 150px;
	z-index: 2;
}
.main__static p{
	padding-top: 30px;
}

.main__title {
	padding-left: 30px	;
}

.main__relative {
	position: relative;
	right: 20px;
	bottom: 20px;
	background-color: #65d9e9;
	min-height: 150px;
	z-index: 3;
}
.main__relative p{
	padding-top: 30px;
}



.main__absolute {
	position: absolute;
	bottom: 100px;
	left: 30px;
	background: #60cf66;
	z-index: 4; 
}



.main__fixed {
	background-color: rgb(240, 197, 234);
position: fixed;
top: 400px;
left: 20px;
z-index: 5;

}



.main__sticky {
	position: sticky;
	top: 0;
	background-color: #fff;
}


